<section id="games">
    <h2>Games</h2>
    <ul id="gamelist">
    </ul>
    <button id="vsPC">Start PC game</button>
    <button id="removeGames">Delete games</button>
    
</section>

<section id="game">
    <h2 id="gameTitle"></h2>
    <h4 id="msg"></h4>
    <table class="gameboard" id="myGameboard">
    </table>
    <table class="gameboard disabled" id="enemyGameboard">
    </table>
</section>

<script src="js/zeeslag.js" defer></script>
