<div class="col-sm-6 col-sm-offset-3">

	<h1><span class="fa fa-sign-in"></span>Zeeslag</h1>

	<p>Welkom op de zeeslag <b>API (application programming interface)</b>.</p>

	<p>
	Deze API is gemaakt voor het vak Webs 3, als backend voor de eindopracht 'zeeslag'.
	Studenten kunnen via deze API informatie over zeeslag games opvragen, nieuwe games aanvragen en bestaande games uitspelen.
	</p>

	<p>De communicatie van deze API wordt afgehandeld door <b>JSON (JavaScript Object Notation)</b> berichten. 
	Het is mogelijk JSON naar de server te sturen en JSON via de server te ontvangen. 
	</p>

</div>