#gameboard td
{
	border:1px solid black;
	display:block;
	width:50px;
	height:50px;
	text-align:center;
	color: gray;
}

#gameboard td:hover
{
	cursor: crosshair;
}

#myGames li:hover{
	cursor: hand;
	background-color:gray;
	color:white;
}

.pending{
	background-color:lightgray;
	color:gray;
}

.hidden{
	visibility: none;
}

.selected{
	background-color:gray;
	color:white;
}

.boat{
	color:white !important;
	background-color:gray;
}

.ghostBoat{
	background-color:LightSteelBlue;
}

.rotate{
	color:red;
	font-size:150%;
}